@font-face {
  font-family: 'Bitter-Regular';
  src: url('fonts/bitter/Bitter-Regular.ttf') format('truetype'),
    url('fonts/bitter/Bitter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('fonts/raleway/Raleway-Light.ttf') format('truetype'),
      url('fonts/raleway/Raleway-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('fonts/raleway/Raleway-Regular.ttf') format('truetype'),
      url('fonts/raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  background-color: black;
}

.introContainer {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.cursordefault {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#universe {
  width: 100%;
  height: 100%;
}

#svgbase {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
}

