@font-face {
  font-family: 'Bitter-Regular';
  src: url('fonts/bitter/Bitter-Regular.ttf') format('truetype'),
    url('fonts/bitter/Bitter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('fonts/raleway/Raleway-Light.ttf') format('truetype'),
      url('fonts/raleway/Raleway-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('fonts/raleway/Raleway-Regular.ttf') format('truetype'),
      url('fonts/raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.section {
  width: inherit;
  height: inherit;
}

.content {
  width: inherit;
  height: inherit;
}

.cursordefault {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

div.banner {
  position: relative;
  height: 100%;
  width: 40%;
  top: 60%;
  left: 60%;
}

div.banner span.subbanner {
  position: absolute;
  left: 35%;
  color: #eee;
  font-family: 'Bitter-Regular';
  font-size: 1.1em !important;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

div.banner .bannerline {
  position: absolute;
  left: -13%;
  top: 4%;
  border: none;
  width: 650px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#eee), to(#1F254D));
  height: 1px;
  color: #eee;
}

div.banner .namebanner {
  text-align: center;
  position: absolute;
  top: 7%;
  left: 8%;
  font-family: 'Raleway-Regular';
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
}

div.banner .namebanner span {
  width: 30px;
  display: inline-block;
}

#universe {
  width: 100%;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
}

