html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.content {
  width: inherit;
  height: inherit;
}

.cursordefault {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.namebanner {
  text-align: center;
  position: absolute;
  top: 58%;
  left: 58%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: sans-serif;
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
}

.namebanner span {
  width: 30px;
  display: inline-block;
}

span .subbanner {
  top: 52.5% !important;
  left: 68% !important;
  /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;*/
  font-size: 1.8em !important;
  text-transform: initial;
}

#universe {
  width: 100%;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
}

