html,
body {
    /* still need to add consistent styles across the site*/
    
    overflow: hidden;
    opacity: 0;
    animation: onload-fadein 1s ease-in forwards;
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}
section {
    height: 768px;
    width: 100%;
}
section .intro {
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}
section .about {
    position: absolute;
    background-color: rgb(60, 120, 150);
    padding: 0 1em;
    font-size: 4em;
}
section .experience {

}
section .employment {

}
section .contact {

}
.gm-intro {
    width: 795px;
    height: 300px;
    color: #EAEAEA;
    opacity: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: #DEE7E7 0 0 .1em;
    box-sizing: border-box;
    padding: 2.5em 8em 4.5em 8em;
    animation: onload-fadein 1s ease-in forwards;
    animation-delay: 1.5s;
    background: rgba(60, 122, 137, .86);
}

.gm-intro #welcometo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 33px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1px;
    color: #C1C1C1;
    display: inline-block;
    text-align: center
}
.gm-intro #welcometo .smallsep {
    background: #DBDBDB;
    height: 2px;
    width: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .3
}
.gm-intro h1 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .85;
    margin-bottom: 28px;
    margin-top: 0
}
@media only screen and (max-height: 1000px) {
    .gm-intro h1 {
        font-size: 80px
    }
    .scrolldown-container .scrolldown-btn {
        display: none;
    }
}
@media only screen and (min-width: 1180px) and (max-width: 1280px) {
    .gm-intro h1 {
        font-size: 80px
    }
}
.gm-intro h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 40px
}
.gm-intro-border {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 2379;
    stroke-dashoffset: 2379;
    animation: 
        onload-drawframe 2.5s ease-in-out forwards, 
        onload-expand 2.5s ease-in forwards;
}
.nocursor {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}
canvas #universe {
    width: 100%;
    height: 100%
}
#svgbase {
    position: absolute;
    bottom: -8px;
    /* not sure why 0px makes it float slightly above the bottom */
    
    height: 300px;
    width: 100%
}
#scene {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -800px
}
.scrolldown-container .scrolldown-btn {
    width: 20px;
    height: 40px;
    position: absolute;
    left: 50%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    animation: 
        onload-fadein 4.8s ease-in forwards,
        from-above 4.8s forwards;
}
.scrolldown-container .scrolldown-btn svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.scrolldown-container .scrolldown-btn svg path.first-path {
    animation: scrollanim 1s ease-in-out infinite;
    animation-delay: 0.8s;
}
.scrolldown-container .scrolldown-btn svg path.second-path {
    animation: scrollanim 2 1s ease-in-out infinite;
}
@keyframes onload-drawframe {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes onload-fadein {
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes from-above {
    0% {
        bottom: 28%;
    }
    100% {
        bottom: 25%;
    }
}
@keyframes onload-expand {
    89.2% {
        width: 795px;
        height: 300px;
    }
    100% {
        width: 845px;
        height: 345px;
    }
}
@-webkit-keyframes scrollanim {
    0% {
        -webkit-transform: translate(0, -40px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translate(0, 0);
        opacity: 0.8;
    }
}
@-moz-keyframes scrollanim {
    0% {
        -moz-transform: translate(0, -40px);
        opacity: 0;
    }
    60% {
        -moz-transform: translate(0, 0);
        opacity: 0.8;
    }
}
@keyframes scrollanim {
    0% {
        -webkit-transform: translate(0, -40px);
        -moz-transform: translate(0, -40px);
        -ms-transform: translate(0, -40px);
        -o-transform: translate(0, -40px);
        transform: translate(0, -40px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0.8;
    }
}
@-webkit-keyframes scrollanim2 {
    0% {
        -webkit-transform: translate(0, -40px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translate(0, 0px);
        opacity: 0.6;
    }
}
@-moz-keyframes scrollanim2 {
    0% {
        -moz-transform: translate(0, -40px);
        opacity: 0;
    }
    60% {
        -moz-transform: translate(0, 0px);
        opacity: 0.6;
    }
}
@keyframes scrollanim2 {
    0% {
        -webkit-transform: translate(0, -40px);
        -moz-transform: translate(0, -40px);
        -ms-transform: translate(0, -40px);
        -o-transform: translate(0, -40px);
        transform: translate(0, -40px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translate(0, 0px);
        -moz-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        -o-transform: translate(0, 0px);
        transform: translate(0, 0px);
        opacity: 0.6;
    }
}