@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body { 
  padding: 0;
  margin: 0;
  border: 0;
}
.toolbar {
  background: #434A54;
  border-bottom: #CEEC97 solid 3px;
  position: fixed;
  z-index: 9998;
  width: 100%;
}
.navigation {
  width: 705px;
  height: 160px;
  margin: 0 auto;
  text-align: center;
}
.logo {
  font-weight: 400;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #E6E9ED;
  font-size: 80px;
  position: relative;
  margin: 0;
  top: -75px;
}
.no-select {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.word {
  color: #3BAFDA;
  text-shadow: #3BAFDA 0 0 0.12em;
}
.web {
  text-shadow: #9DD7EC 0 0 0.07em;
}
.name {
  text-shadow: #9DD7EC 0 0 0.07em;
  position: relative;
  top: 64px;
}
.right, .left {
  font-family: arial;
  font-size: 120px;
  position: relative;
  top: 75px;
  color: #3BAFDA;
  margin: 0 0 0 20px;
}
.text {
  font-size: 30px;
  position: absolute;
  top: 195px;
  left: 214px;
  padding-left: 115px;
}
.left {
  margin: 0 17px 0 0;
}
.centre {
  width:100%;
  padding-top:0px;
}
.main-nav {
	position: absolute;
	z-index: 9999;
	padding-top: 15px;
	left: 0;
	right: 0;
}
.main-nav ul {
	padding: 0;
	margin: 0;
}
.main-nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.main-nav ul li a, .main-nav ul li a:visited {
  border: transparent solid 2px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	color: #E6E9ED;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	-webkit-transition: border-bottom 0.2s ease;
	transition: border-bottom 0.2s ease;
}
.main-nav ul li:hover {
	border-top: #CEEC97 solid 2px;
}
.navigation .spacer:after {
	content: "|";
	margin: 0 0.5em;
	color: #E6E9ED;
}
.menu-pages {
	margin-left: 20px;
	text-align: center;
}
.selected {
  border-top: #CEEC97 solid 2px;
}